{% extends '_base.html' %}

{% block page_title %} Featured Content Page {% endblock %}

{% block content %}

    <h1> Featured Content </h1>
    <button id="goBackButton" class="btn btn-primary">Go Back</button>


    <script>
        const goBackButton = document.getElementById("goBackButton");

        if (goBackButton) {
            goBackButton.addEventListener("click", () => {
                window.history.back();
            });
        }
    </script>
    {# Add more content or styling as needed #}
{% endblock %}
