{% extends '_base.html' %}
{% load i18n %}

{% block page_title %} Home Page {% endblock %}

{% block styles %}
<style>
    .book-card {
        width: 18rem;
        transition: transform 0.2s;
    }
    .book-card:hover {
        transform: scale(1.05);
    }
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
</style>
{% endblock %}


{% block content %}

<div class="container mt-4">
    <h1>Newest Books</h1>
    <div class="row">
        {% for book in newest_books %}
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <div class="card book-card">
                {% if book.cover %}
                <img src="{{ book.cover.url }}" class="card-img-top" alt="{{ book.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.description|truncatewords:20 }}</p>
                    <a href="{% url 'book_detail' book.id %}" class="btn btn-primary">
                    {% translate 'View Details' %}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
