{% extends '_base.html' %}

{% block page_title %} Recent updates Page {% endblock %}

{% block content %}

    <h1>Recent Updates</h1>

    <ul>
    {% if  new_books.count == 0 %}
    <h1>
        no new book added recently
    </h1>
    {% endif %}
        {% for book in new_books %}

            <li>
                <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a> by {{ book.author }}
            </li>
        {% endfor %}
    </ul>
    <button id="goBackButton" class="btn btn-primary">Go Back</button>

    {# Add more content or styling as needed #}

    <script>
    const goBackButton = document.getElementById("goBackButton");

    if (goBackButton) {
        goBackButton.addEventListener("click", () => {
            window.history.back();
        });
    }
</script>

{% endblock %}
