{% extends '_base.html' %}
# we can have an extra head block for javascript code for simple jobs like check all the items in the list or in the template.

{% block page_title %}
    book list
{% endblock %}

{% block content %}

    {% for book in books %}

        <div class="container mt-4">
            <div class="row flex-row-reverse justify-content-md-center">
                <div class="card m-2" style="max-width: 45%">
                    <div class="row g-0 h-100" dir="rtl">
                        <div class="col-md-4">
                            {% if book.cover %}
                                <img src="{{ book.cover.url }}"
                                     class="img-fluid rounded-start" alt="...">
                            {% endif %}
                        </div>
                        <div class="col-md-8 h-100">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="card-body">
                                    <a href="{{ book.get_absolute_url }}">
                                        <h3 class="card-title"><strong>{{ book.title }}</strong></h3></a>
                                    <p class="card-text pt-3">{{ book.description|truncatewords:30 }}</p>
                                    <p class="text-muted">نویسنده:{{ book.author }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            {% if page_obj.has_previous %}

                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}

                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a></li>
            {% endif %}
        </ul>
    </nav>
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center bg-grey">
                <p class="text-dark"> پروژه ی کتاب فروشی آنلاین </p>
        </div>
    </footer>
    <div>
        {{ page_obj.number }}
    </div>
    <div>
        <a href="{% url 'book_create' %}" style="text-decoration: none;">ایجاد کتاب جدید </a>
        <br>
        <br>
        <hr>
    </div>
{% endblock %}
